@font-face {
  font-family: "timer";
  src: url("cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: #1b244a;
  text-align: center;
}

.container {
  max-width: 600px;
  max-height: 400;
  margin: 32px auto;
  padding: 36px 0px;
  display: flex;
  justify-content: space-evenly;
}

h2 {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.label {
  font-family: "timer";
  color: #f94f6d;
  font-size: 56px;
  padding: 12px 0px;
  width: 120px;
  text-align: center;
  background-color: #080001;
  margin-bottom: 16px;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

.btn-home,
.btn-guest {
  height: 25px;
  width: 25px;
  background-color: #1b244a;
  color: #9aabd8;
  font-family: "timer";
  padding: 2px;
  border: 1px solid #9aabd8;
  border-radius: 3px;
}
